<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!--导入属性文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <!--自动扫描-->
    <context:component-scan base-package="com.wkunc.service;com.wkunc.dao;com.wkunc.entiry"/>
    <!--开启注解-->
    <context:annotation-config/>
    <!--Data Source-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <!--初始化大小-->
        <property name="initialSize" value="5"/>
        <!--最大活跃数量-->
        <property name="maxTotal" value="10"/>
        <!--最大空闲数量-->
        <!--<property name="maxIdle" value="8"/>-->
        <!--最小空闲数量-->
        <!--<property name="maxWaitMillis" value="0"/>-->
        <!--建立连接过程最大等待时间-->
    </bean>
    <!--spirng 事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--整合mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--自动扫描mapping.xml文件-->
        <property name="mapperLocations" value="classpath:mapping/*.xml"/>
        <!--
        加载mybatis配置文件
        主要是配置mybatis的属性
        如添加日志框架，起类别名等等
        -->
        <property name="configLocation" value="classpath:Mybatis-config.xml"/>
    </bean>
    <!--Dao接口和Mapping.xml映射连接-->
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.wkunc.dao.UserDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <bean id="goodsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.wkunc.dao.GoodsDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    <!--配置自动扫描, 为每一个dao接口生成对应的MapperFactoryBean, 就是生成动态代理类-->
    <!--
    <bean id="MapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value=""/>
    </bean>
    -->
</beans>